In [1]:
import geopandas as gpd
# import fiona as fiona
import helper_functions
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
gpd.read_file("./ACSDATA/ASC_data.gpkg", layer='Data')

,State,County,NAME,GEOID,geometry
0,Hawaii,Hawaii County,Census Tract 201,15001020100,"MULTIPOLYGON (((-17264972.471 2244290.771, -17..."
1,Hawaii,Hawaii County,Census Tract 202.02,15001020202,"MULTIPOLYGON (((-17264972.471 2244290.771, -17..."
2,Hawaii,Hawaii County,Census Tract 203,15001020300,"MULTIPOLYGON (((-17264586.638 2241559.947, -17..."
3,Hawaii,Hawaii County,Census Tract 204,15001020400,"MULTIPOLYGON (((-17263053.212 2239295.54, -172..."
4,Hawaii,Hawaii County,Census Tract 205,15001020500,"MULTIPOLYGON (((-17261894.265 2236946.51, -172..."
...,...,...,...,...,...
85029,Connecticut,Western Connecticut Planning Region,Census Tract 2532,9190253200,"MULTIPOLYGON (((-8165131.061 5100532.65, -8165..."
85030,Connecticut,Western Connecticut Planning Region,Census Tract 2534,9190253400,"MULTIPOLYGON (((-8176393.481 5102767.326, -817..."
85031,Connecticut,Western Connecticut Planning Region,Census Tract 2535,9190253500,"MULTIPOLYGON (((-8166057.351 5106287.055, -816..."
85032,Connecticut,Western Connecticut Planning Region,Census Tract 2571,9190257100,"MULTIPOLYGON (((-8182753.388 5111050.183, -818..."
85033,Connecticut,Western Connecticut Planning Region,Census Tract 4257,9190425700,"MULTIPOLYGON (((-8173078.496 5098736.472, -817..."

In [3]:
gdf = helper_functions.agent_init_data(["Texas"], ["Harris County"])

In [4]:
Harris_stats = gdf.drop(columns="geometry").groupby(by = "County").sum()

In [5]:
stat_list = []
for i in [[15, 31], [32, 38], [39, 58], [60, 76]]:
     a = gdf[gdf.columns[i[0]:i[1]]]
     if i == [15,31]:
          high_school = a[a.columns[2:8]].sum(axis=1)
          a = a.drop(columns=a.columns[[2, 3, 4, 5, 6, 7]])
          a["Some Highschool"] = high_school
     stat_list.append(a.sum(0)/len(a))
     # df = pd.DataFrame({
     #     **{str(i): range(5) for i in range(10, 35)}  # Columns 10 to 34 as strings
     # })
     
     # Drop columns with names in the range 15 to 31
     # cols_to_drop = [str(i) for i in range(15, 32)]
     # df = df.drop(columns=cols_to_drop)
     
     # print(df.head())
     


     # Plot the Series as a bar chart
     # a.plot(kind='bar', title='Fruit Sales')
     # plt.tight_layout()
     # plt.show()

In [6]:
stat_list[2]

18 and 19 years      0.034145
20 years             0.016142
21 years             0.017568
22 to 24 years       0.058904
25 to 29 years       0.106595
30 to 34 years       0.108266
35 to 39 years       0.100576
40 to 44 years       0.092443
45 to 49 years       0.084352
50 to 54 years       0.079435
55 to 59 years       0.073892
60 and 61 years      0.029753
62 to 64 years       0.040832
65 and 66 years      0.023922
67 to 69 years       0.032198
70 to 74 years       0.042584
75 to 79 years       0.026983
80 to 84 years       0.016337
85 years and over    0.015073
dtype: float64

In [7]:
stat_list[1]

White alone                                         0.490130
Black or African American alone                     0.238123
American Indian and Alaska Native alone             0.011002
Asian alone                                         0.084580
Native Hawaiian and Other Pacific Islander alone    0.001021
Some other race alone                               0.175144
dtype: float64

In [8]:
[display(i) for i in stat_list]

No schooling completed                         0.039930
Nursery to 4th grade                           0.019994
High school graduate (includes equivalency)    0.229646
Some college, less than 1 year                 0.054352
Some college, 1 or more years, no degree       0.128183
Associate's degree                             0.069238
Bachelor's degree                              0.200473
Master's degree                                0.085016
Professional school degree                     0.025779
Doctorate degree                               0.016192
Some Highschool                                0.131198
dtype: float64

White alone                                         0.490130
Black or African American alone                     0.238123
American Indian and Alaska Native alone             0.011002
Asian alone                                         0.084580
Native Hawaiian and Other Pacific Islander alone    0.001021
Some other race alone                               0.175144
dtype: float64

18 and 19 years      0.034145
20 years             0.016142
21 years             0.017568
22 to 24 years       0.058904
25 to 29 years       0.106595
30 to 34 years       0.108266
35 to 39 years       0.100576
40 to 44 years       0.092443
45 to 49 years       0.084352
50 to 54 years       0.079435
55 to 59 years       0.073892
60 and 61 years      0.029753
62 to 64 years       0.040832
65 and 66 years      0.023922
67 to 69 years       0.032198
70 to 74 years       0.042584
75 to 79 years       0.026983
80 to 84 years       0.016337
85 years and over    0.015073
dtype: float64

Less than $10,000       0.055872
$10,000 to $14,999      0.038622
$15,000 to $19,999      0.032291
$20,000 to $24,999      0.041885
$25,000 to $29,999      0.038911
$30,000 to $34,999      0.040903
$35,000 to $39,999      0.040980
$40,000 to $44,999      0.039419
$45,000 to $49,999      0.039126
$50,000 to $59,999      0.075183
$60,000 to $74,999      0.096294
$75,000 to $99,999      0.121657
$100,000 to $124,999    0.087149
$125,000 to $149,999    0.062246
$150,000 to $199,999    0.078704
$200,000 or more        0.110758
dtype: float64

[None, None, None, None]

In [9]:
display(stat_list[0])

No schooling completed                         0.039930
Nursery to 4th grade                           0.019994
High school graduate (includes equivalency)    0.229646
Some college, less than 1 year                 0.054352
Some college, 1 or more years, no degree       0.128183
Associate's degree                             0.069238
Bachelor's degree                              0.200473
Master's degree                                0.085016
Professional school degree                     0.025779
Doctorate degree                               0.016192
Some Highschool                                0.131198
dtype: float64

In [10]:
df.sum()

NameError: name 'df' is not defined

In [26]:
B.drop(columns=B.columns[[2,3,4,5,6,7]])

,No schooling completed,Nursery to 4th grade,High school graduate (includes equivalency),"Some college, less than 1 year","Some college, 1 or more years, no degree",Associate's degree,Bachelor's degree,Master's degree,Professional school degree,Doctorate degree
0,0.086710,0.017418,0.308217,0.063612,0.116244,0.051496,0.062476,0.023097,0.005301,0.006058
1,0.057116,0.060625,0.356733,0.042119,0.068283,0.030632,0.121251,0.039885,0.000638,0.000000
2,0.055556,0.011402,0.220524,0.025473,0.110383,0.094857,0.243571,0.118147,0.003882,0.003396
3,0.052537,0.052537,0.410149,0.045373,0.132537,0.031642,0.050746,0.048358,0.000000,0.000597
4,0.052381,0.057143,0.247619,0.061224,0.059864,0.070748,0.076871,0.045578,0.000000,0.004762
...,...,...,...,...,...,...,...,...,...,...
1106,0.014780,0.000000,0.157522,0.015995,0.175137,0.055882,0.312411,0.181616,0.035635,0.023082
1107,0.003414,0.004268,0.157064,0.084080,0.167734,0.088348,0.284251,0.115664,0.037985,0.026462
1108,0.008929,0.010541,0.439732,0.038318,0.193700,0.041667,0.048735,0.000496,0.002480,0.000000
1109,0.000000,0.000000,0.000000,0.000000,0.374101,0.215827,0.187050,0.223022,0.000000,0.000000
1110,0.000000,0.000000,0.088083,0.027387,0.020725,0.068098,0.388601,0.230200,0.156921,0.019985

In [17]:
B[2:8]

,No schooling completed,Nursery to 4th grade,5th and 6th grade,7th and 8th grade,9th grade,10th grade,11th grade,"12th grade, no diploma",High school graduate (includes equivalency),"Some college, less than 1 year","Some college, 1 or more years, no degree",Associate's degree,Bachelor's degree,Master's degree,Professional school degree,Doctorate degree
2,0.055556,0.011402,0.040029,0.026929,0.000000,0.009461,0.000000,0.036390,0.220524,0.025473,0.110383,0.094857,0.243571,0.118147,0.003882,0.003396
3,0.052537,0.052537,0.047761,0.051940,0.006567,0.008955,0.048358,0.011940,0.410149,0.045373,0.132537,0.031642,0.050746,0.048358,0.000000,0.000597
4,0.052381,0.057143,0.063946,0.069388,0.022449,0.035374,0.078912,0.053741,0.247619,0.061224,0.059864,0.070748,0.076871,0.045578,0.000000,0.004762
5,0.009574,0.020017,0.000870,0.000000,0.020888,0.011314,0.052219,0.021758,0.410792,0.038294,0.123586,0.033943,0.218451,0.038294,0.000000,0.000000
6,0.025915,0.025152,0.099848,0.057927,0.011433,0.028201,0.012957,0.055640,0.415396,0.080030,0.071646,0.059451,0.044970,0.011433,0.000000,0.000000
7,0.012515,0.048272,0.074493,0.008343,0.000000,0.036949,0.025626,0.017878,0.304529,0.010727,0.218713,0.125149,0.096544,0.020262,0.000000,0.000000

In [46]:
stat_list[0]

No schooling completed                         0.039930
Nursery to 4th grade                           0.019994
5th and 6th grade                              0.036434
7th and 8th grade                              0.017530
9th grade                                      0.022504
10th grade                                     0.013743
11th grade                                     0.016728
12th grade, no diploma                         0.024259
High school graduate (includes equivalency)    0.229646
Some college, less than 1 year                 0.054352
Some college, 1 or more years, no degree       0.128183
Associate's degree                             0.069238
Bachelor's degree                              0.200473
Master's degree                                0.085016
Professional school degree                     0.025779
Doctorate degree                               0.016192
dtype: float64

In [39]:
stat_list

[No schooling completed                         0.039930
 Nursery to 4th grade                           0.019994
 5th and 6th grade                              0.036434
 7th and 8th grade                              0.017530
 9th grade                                      0.022504
 10th grade                                     0.013743
 11th grade                                     0.016728
 12th grade, no diploma                         0.024259
 High school graduate (includes equivalency)    0.229646
 Some college, less than 1 year                 0.054352
 Some college, 1 or more years, no degree       0.128183
 Associate's degree                             0.069238
 Bachelor's degree                              0.200473
 Master's degree                                0.085016
 Professional school degree                     0.025779
 Doctorate degree                               0.016192
 dtype: float64,
 White alone                                         0.490130
 Black or African American alone                     0.238123
 American Indian and Alaska Native alone             0.011002
 Asian alone                                         0.084580
 Native Hawaiian and Other Pacific Islander alone    0.001021
 Some other race alone                               0.175144
 dtype: float64,
 18 and 19 years      0.034145
 20 years             0.016142
 21 years             0.017568
 22 to 24 years       0.058904
 25 to 29 years       0.106595
 30 to 34 years       0.108266
 35 to 39 years       0.100576
 40 to 44 years       0.092443
 45 to 49 years       0.084352
 50 to 54 years       0.079435
 55 to 59 years       0.073892
 60 and 61 years      0.029753
 62 to 64 years       0.040832
 65 and 66 years      0.023922
 67 to 69 years       0.032198
 70 to 74 years       0.042584
 75 to 79 years       0.026983
 80 to 84 years       0.016337
 85 years and over    0.015073
 dtype: float64,
 Less than $10,000       0.055872
 $10,000 to $14,999      0.038622
 $15,000 to $19,999      0.032291
 $20,000 to $24,999      0.041885
 $25,000 to $29,999      0.038911
 $30,000 to $34,999      0.040903
 $35,000 to $39,999      0.040980
 $40,000 to $44,999      0.039419
 $45,000 to $49,999      0.039126
 $50,000 to $59,999      0.075183
 $60,000 to $74,999      0.096294
 $75,000 to $99,999      0.121657
 $100,000 to $124,999    0.087149
 $125,000 to $149,999    0.062246
 $150,000 to $199,999    0.078704
 $200,000 or more        0.110758
 dtype: float64]

In [14]:
Harris_stats

              EduTotal                                                        \
                 count         mean         std  min     25%     50%     75%
County
Harris County   1111.0  1555.448245  734.014022  1.0  1069.5  1436.0  1851.5

                      No vehicle available             ... $200,000 or more  \
                  max                count       mean  ...              75%
County                                                 ...
Harris County  9986.0               1111.0  212.50225  ...           0.1535

                        PopDense                                            \
                    max    count    mean       std           min       25%
County
Harris County  0.755984   1111.0  0.0009  0.000487  2.103129e-07  0.000598


                    50%       75%       max
County
Harris County  0.000805  0.001078  0.007213

[1 rows x 592 columns]

In [7]:
gdf =gpd.read_file("..\ACSData\ASC_data.gpkg", layer='Data')

In [9]:
gdf = gdf[gdf["County"]=="Harris County"]

In [10]:
gdf

,State,County,NAME,EduTotal,No vehicle available,1 vehicle available,2 vehicles available,3 vehicles available,4 or more vehicles available,1-person household:,...,"$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",geometry
868,Texas,Harris County,Census Tract 2104,1430.0,416.0,1048.0,814.0,504.0,78.0,349.0,...,99.0,63.0,66.0,136.0,209.0,37.0,77.0,113.0,13.0,"MULTIPOLYGON (((-10614436.232 3476563.495, -10..."
869,Texas,Harris County,Census Tract 2105,1783.0,768.0,1432.0,690.0,524.0,152.0,421.0,...,0.0,72.0,187.0,165.0,110.0,152.0,73.0,98.0,73.0,"MULTIPOLYGON (((-10614436.232 3476563.495, -10..."
870,Texas,Harris County,Census Tract 2106,2304.0,786.0,1394.0,2102.0,258.0,68.0,904.0,...,79.0,101.0,134.0,216.0,410.0,179.0,235.0,197.0,216.0,"MULTIPOLYGON (((-10615120.736 3477864.346, -10..."
871,Texas,Harris County,Census Tract 2107,871.0,58.0,518.0,778.0,158.0,230.0,277.0,...,21.0,27.0,118.0,91.0,86.0,95.0,22.0,52.0,36.0,"MULTIPOLYGON (((-10614397.271 3479477.734, -10..."
872,Texas,Harris County,Census Tract 2108,924.0,332.0,896.0,322.0,278.0,20.0,403.0,...,78.0,7.0,72.0,41.0,96.0,90.0,10.0,43.0,5.0,"MULTIPOLYGON (((-10612784.028 3478928.112, -10..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80834,Texas,Harris County,Census Tract 5561,1210.0,0.0,480.0,1362.0,442.0,136.0,225.0,...,27.0,0.0,66.0,18.0,169.0,176.0,169.0,158.0,332.0,"MULTIPOLYGON (((-10634616.125 3505639.089, -10..."
80835,Texas,Harris County,Census Tract 9802,105.0,0.0,202.0,8.0,0.0,0.0,84.0,...,0.0,0.0,0.0,19.0,20.0,22.0,0.0,0.0,44.0,"MULTIPOLYGON (((-10613330.607 3473974.243, -10..."
80836,Texas,Harris County,Census Tract 9803,4.0,0.0,0.0,8.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,"MULTIPOLYGON (((-10619173.88 3467691.307, -106..."
80837,Texas,Harris County,Census Tract 9804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"MULTIPOLYGON (((-10613642.079 3468542.203, -10..."
80838,Texas,Harris County,Census Tract 9807,1096.0,176.0,1360.0,640.0,16.0,0.0,720.0,...,0.0,11.0,10.0,129.0,114.0,14.0,88.0,126.0,388.0,"MULTIPOLYGON (((-10616868.119 3472899.859, -10..."